<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/928531ef-6718-48b5-95ab-2a505985bfd6/resourceGroups/BizzSummit2022/providers/Microsoft.Web/sites/BizzSummitAPIAppService</ResourceId>
    <ResourceGroup>BizzSummit2022</ResourceGroup>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <ApiResourceId>/subscriptions/928531ef-6718-48b5-95ab-2a505985bfd6/resourceGroups/BizzSummit2022/providers/Microsoft.ApiManagement/service/BizzSummitAPIM/apis/bizzsummitapi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>false</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://bizzsummitapiappservice.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>8b74d1a9-794f-4024-b671-b051d5690c12</ProjectGuid>
    <MSDeployServiceURL>bizzsummitapiappservice.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>BizzSummitAPIAppService</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <UserName>$BizzSummitAPIAppService</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>netcoreapp3.1</TargetFramework>
    <SelfContained>false</SelfContained>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>