{
  "swagger": "2.0",
  "info": {
    "title": "ITS-API",
    "version": "1.0"
  },
  "host": "itsapim.azure-api.net",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/api/Bookings": {
      "get": {
        "operationId": "GetBookings",
        "summary": "Get a list of all Bookings",
        "tags": [
          "Bookings"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/BookingArray"
            },
            "examples": {
              "application/json": [
                {
                  "id": "string",
                  "projectId": "string",
                  "resourceId": "string",
                  "date": "string",
                  "hours": 0
                }
              ],
              "text/json": [
                {
                  "id": "string",
                  "projectId": "string",
                  "resourceId": "string",
                  "date": "string",
                  "hours": 0
                }
              ]
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteBooking",
        "summary": "Delete a Booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "operationId": "CreateBooking",
        "summary": "Create a Booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "booking",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "operationId": "UpdateBooking",
        "summary": "Update a Booking",
        "tags": [
          "Bookings"
        ],
        "parameters": [
          {
            "name": "booking",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Booking"
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Projects": {
      "get": {
        "operationId": "GetProjects",
        "summary": "Get a list of all Projects",
        "tags": [
          "Projects"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ProjectArray"
            },
            "examples": {
              "application/json": [
                {
                  "id": "string",
                  "name": "string",
                  "description": "string",
                  "customer": "string",
                  "startDate": "string",
                  "createdBy": "string"
                }
              ],
              "text/json": [
                {
                  "id": "string",
                  "name": "string",
                  "description": "string",
                  "customer": "string",
                  "startDate": "string",
                  "createdBy": "string"
                }
              ]
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteProject",
        "summary": "Delete a Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "operationId": "CreateProject",
        "summary": "Create a Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "put": {
        "operationId": "UpdateProject",
        "summary": "Update a Project",
        "tags": [
          "Projects"
        ],
        "parameters": [
          {
            "name": "project",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Project"
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "/api/Resources": {
      "get": {
        "operationId": "GetResources",
        "summary": "Get a list of all Resources",
        "tags": [
          "Resources"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/ResourceArray"
            },
            "examples": {
              "application/json": [
                {
                  "id": "string",
                  "fullName": "string",
                  "mail": "string"
                }
              ],
              "text/json": [
                {
                  "id": "string",
                  "fullName": "string",
                  "mail": "string"
                }
              ]
            }
          }
        }
      },
      "delete": {
        "operationId": "DeleteResources",
        "summary": "Delete a Resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      },
      "post": {
        "operationId": "CreateResource",
        "summary": "Create a Resource",
        "tags": [
          "Resources"
        ],
        "parameters": [
          {
            "name": "resource",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/Resource"
            }
          }
        ],
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "definitions": {
    "Booking": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "projectId": {
          "type": "string"
        },
        "resourceId": {
          "type": "string"
        },
        "date": {
          "format": "date-time",
          "type": "string"
        },
        "hours": {
          "format": "double",
          "type": "number"
        }
      },
      "example": {
        "id": "string",
        "projectId": "string",
        "resourceId": "string",
        "date": "string",
        "hours": 0
      }
    },
    "Project": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "customer": {
          "type": "string"
        },
        "startDate": {
          "format": "date-time",
          "type": "string"
        },
        "createdBy": {
          "type": "string"
        }
      },
      "example": {
        "id": "string",
        "name": "string",
        "description": "string",
        "customer": "string",
        "startDate": "string",
        "createdBy": "string"
      }
    },
    "Resource": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "fullName": {
          "type": "string"
        },
        "mail": {
          "type": "string"
        }
      },
      "example": {
        "id": "string",
        "fullName": "string",
        "mail": "string"
      }
    },
    "BookingArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Booking"
      }
    },
    "ProjectArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Project"
      }
    },
    "ResourceArray": {
      "type": "array",
      "items": {
        "$ref": "#/definitions/Resource"
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "API Key": {
      "type": "apiKey",
      "in": "header",
      "name": "Ocp-Apim-Subscription-Key"
    }
  },
  "security": [
    {
      "API Key": []
    }
  ],
  "tags": []
}